
#profile {
    border-radius: 20px;
    margin-top: 10px;
}

#lista_contact {
    padding-top: 20px;
    margin-top: 50px;
    text-align: left;
}

#botones {
    margin-top: 140px;
}

#verde{
    margin-right: 10px;
}

#rojo{
    margin-left: 10px;
}

#fondo{
    background-color: lightcoral;
}